input {
  background-image: linear-gradient(
    to right,
    #b993d667 0%,
    #8ca6db81 51%,
    #695acd6b 100%
  );
  padding: 10px 25px;
  transition: 0.5s;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding-left: 15px;
  height: 40px;
  font-size: 16px;
}

.inputContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 8px;
  top: 35%;
  transform: translateY(-50%);
  pointer-events: none; /* іконка не буде взаємодіяти з курсором */
  color: #999;
  font-size: 24px;
}
