.headerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navLinkBlock {
  display: flex;
  gap: 10px;
}

.btn,
.navLinkItem {
  background-image: linear-gradient(to right, #11622fcb 51%, #5562dcd8 100%);
  padding: 10px 20px;
  text-align: center;
  transition: 0.5s;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  font-family: "Courier New", monospace;
  font-weight: bold;
  width: 100px;
  height: 40px;
}

.btn:hover,
.btn:focus,
.navLinkItem:hover,
.navLinkItem:focus {
  background-position: right center;
  color: rgba(0, 0, 0, 0.623);
  text-decoration: none;
}

.btn {
  background-image: linear-gradient(to right, #11622fcb 11%, #dc5555d8 100%);
}

.title {
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 70px;
}

.text {
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  color: rgb(45, 43, 111);
}

.footer {
  margin-top: 20px;
}
