#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 70px;
}

.text {
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
}

.footer {
  margin-top: 20px;
}
